  #wrapper{
width:80%;
margin:auto}
code{background: transparent;}
#WIP{
width:100%;
height:100%;
position:fixed; 
background:radial-gradient(rgba(0,0,0,.2),rgba(0,0,0,1));
top:0;
z-index:99;
left:0;
text-align:center;
color:#FFF;
font-weight:bold;
font-size:5em;
font-family:impact;
text-transform:uppercase;
padding-top:16vh;
text-shadow:0 0 1em #000,0 0 2em #000,0 0 3em #000;}
#WIP a{color:#FFF;font-size:.6em;text-decoration:none;margin-top:-1em;display:block}

::selection{background:transparent;}
.selected{background:#2980b9; color:#FFF;}
.selected:hover{background:#2980b9 !important ; color:#FFF;}
.title-list a{
  width:100%;
}

footer{
  position:relative;
  bottom:0;
  width:100%;
  font-size:.8em;
}
footer p,footer p a{
  text-decoration:none;
  color:#3498db;
  text-align:center;
}
footer p a{
  border-bottom:1px dotted;
}
footer p span{
  color:#f77681;
}
.section td{padding:1em;text-align:center;cursor:pointer;}
.section td:hover{padding:1em;background:#70baf7;color:#fff;}
/* classes*/
.closed{display:none}
/**/
.multi{font-size:2em;font-weight:bold;text-decoration:none;color:#fff;float:right;margin:0 .3em;}
#target-emo td a{display:none}
#target-emo td.selected a{display:block}

#multi-use{
width:100%;
height:80px;
position:fixed;
z-index: 3;
background:#3498db;
left:0;
}

#multi-use #multi-copy{
disply:block;
-webkit-appearance:none;
border:0;
margin:1.22em;
width:87%;
height:50%;
outline: none;}
#multi-use #close{
  margin:1em 1.2em 
}